<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item ">
            <a class="nav-link" href="/admin/dashboard">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/user-management">
                <span class="menu-title">Users</span>
                <i class="mdi mdi-account-multiple menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">
                <span class="menu-title">Category</span>
                <i class="mdi mdi-grid menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/products">
                <span class="menu-title">Products</span>
                <i class="mdi mdi-cube-outline menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/orders">
                <span class="menu-title">Orders</span>
                <i class="mdi mdi-cart menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#offers">
                <span class="menu-title">Offers</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-tag-multiple menu-icon"></i>
            </a>
            <div class="collapse" id="offers">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/admin/offers-category">Category offers</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/admin/offers-product">Product offers</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/coupons">
                <span class="menu-title">Coupons</span>
                <i class="mdi mdi-google-cardboard menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/sales">
                <span class="menu-title">Sales</span>
                <i class="mdi mdi mdi-table menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/banners">
                <span class="menu-title">Banners</span>
                <i class="mdi mdi-image-multiple menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>