<!--cancel Reason Modal -->
<div class="modal fade" id="cancelReasonModal" tabindex="-1" aria-labelledby="cancelReasonModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="cancelReasonModalLabel">Select
                    Cancellation Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control rounded" id="cancellationReasonSelect">
                    <option disabled selected>Select
                        Cancellation Reason</option>
                    <option>Order Created by Mistake
                    </option>
                    <option>Item(s) Would Not Arrive on Time
                    </option>
                    <option>Item Price Too High</option>
                    <option>Need to Change Shipping Address
                    </option>
                    <option>Need to Change Payment Method
                    </option>
                    <option>Other</option>
                </select>
                <span id="cancel-selection-error" style="color: #BA0933; font-size: 13px;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="cancel-reason-btn">Cancel
                    Order</button>
            </div>
        </div>
    </div>
</div>

<!-- End -->


<!-- Return Reason Modal -->
<div class="modal fade" id="returnReasonModal" tabindex="-1" aria-labelledby="returnReasonModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="returnReasonModalLabel">Select
                    Return Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control rounded" id="returnReasonSelect">
                    <option disabled selected>Select Return
                        Reason</option>
                    <option value="Received Wrong Item">
                        Received Wrong Item</option>
                    <option value="Defective or Damaged Product">
                        Defective or Damaged Product
                    </option>
                    <option value="Wrong Size or Fit">Wrong
                        Size or Fit</option>
                    <option value="Unsatisfactory Quality">
                        Unsatisfactory Quality</option>
                    <option value="Late Delivery">Late
                        Delivery</option>
                    <option value="Other">Other</option>
                </select>
                <span id="return-selection-error" style="color: #BA0933; font-size: 13px;"></span>

                <input type="text" class="form-control mt-3 rounded" id="otherReasonInput"
                    placeholder="Enter Other Reason..." style="display: none;">
                <span id="return-input-error" style="color: #BA0933; font-size: 13px;"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="return-reason-btn">Return
                    Order</button>
            </div>
        </div>
    </div>
</div>

<!-- Ending  -->

<script src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js'></script>

<script>
    //cancel order
    var productId;
    var orderId;
    document.querySelectorAll('.cancel-order-btn').forEach(cancelBtn => {
        cancelBtn.addEventListener('click', function () {
            // Retrieve productId and orderId using dataset
            productId = this.dataset.productid;
            orderId = this.dataset.orderid;
            console.log('Product ID:', productId);
            console.log('Order ID:', orderId);
        });
    });

    document.getElementById('cancel-reason-btn').addEventListener('click', function () {
        var cancellationReason = document.getElementById('cancellationReasonSelect').value;
        if (cancellationReason !== 'Select Cancellation Reason') {
            document.getElementById("cancel-selection-error").textContent = "";

            var data = {
                cancellationReason: cancellationReason,
                productId: productId,
                orderId: orderId
            };
            console.log(data)

            fetch('/orders/cancel-order', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => {

                    if (response.ok) {
                        window.location.reload();
                        console.log('Order cancelled successfully');

                    } else {
                        console.error('Failed to cancel order');

                    }
                })
                .catch(error => {
                    console.error('Error occurred:', error);
                });

            $('#cancelReasonModal').modal('hide');
        } else {
            document.getElementById("cancel-selection-error").textContent = "Please select a reason.";
        }
    });



    //return order
    document.querySelectorAll('.return-order-btn').forEach(returnBtn => {
        returnBtn.addEventListener('click', function () {
            // Retrieve productId and orderId using dataset
            productId = this.dataset.productid;
            orderId = this.dataset.orderid;
            console.log('Product ID:', productId);
            console.log('Order ID:', orderId);
        });
    });

    document.getElementById('returnReasonSelect').addEventListener('change', function () {

        const selectedOption = this.value;

        if (selectedOption === 'Other') {
            document.getElementById('otherReasonInput').style.display = 'block';
        } else {
            document.getElementById('otherReasonInput').style.display = 'none';
        }
    });


    document.getElementById('return-reason-btn').addEventListener('click', function () {
        const selectedOption = document.getElementById('returnReasonSelect').value;
        if (selectedOption === 'Select Return Reason') {
            document.getElementById('return-selection-error').textContent = 'Please select a return reason.';
            return;
        } else {
            document.getElementById('return-selection-error').textContent = '';
        }

        if (selectedOption === 'Other') {
            const otherReasonInput = document.getElementById('otherReasonInput').value.trim();
            if (otherReasonInput === '') {

                document.getElementById('return-input-error').textContent = 'Reason cannot be empty.';
                return;
            } else {

                document.getElementById('return-input-error').textContent = '';
            }
        }

        const data = {
            productId: productId,
            orderId: orderId,
            returnReason: selectedOption === 'Other' ? document.getElementById('otherReasonInput').value.trim() : selectedOption
        };

        fetch('/orders/return-order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => {
                if (response.ok) {
                    console.log('Return order request sent successfully');
                    window.location.reload();
                } else {

                    console.error('Failed to send return order request');
                }
            })
            .catch(error => {
                console.error('Error occurred:', error);
            });


        $('#returnReasonModal').modal('hide');
    });

</script>