<%- include("../form_layouts/header.ejs") %>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img"
                            style="background-image: url(assets/images/air-jordan-1-low-se-shoes-ZbxSRp.jpeg);">
                        </div>
                        <div class="login-wrap p-3 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4 text-center font-weight-bold">Reset Password</h3>
                                </div>
                            </div>

                            <form id="reset-password-Form" class="signin-form">
                                <div class="form-group mb-3">
                                    <label class="label m-0 " for="name">New Password</label>
                                    <input type="text" id="new-password" name="new password" class="form-control"
                                        placeholder="New Password">
                                    <span id="new-password-error" style="font-size: 13px;color: #BA0933;"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label m-0 " for="password">Confirm Password</label>
                                    <input type="password" id="confirm-password" name="password" class="form-control"
                                        placeholder="Password">
                                    <span id="confirm-password-error" style="font-size: 13px;color: #BA0933;"></span>
                                </div>
                                <input type="hidden" id="userId" value="<%=userId%>">
                                <div class="form-group">
                                    <button type="button" id="reset-password-btn"
                                        class="form-control btn btn-primary rounded submit px-3">Reset
                                        Password</button>
                                </div>
                            </form>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        //form validation
        function validateForm() {

            const newPassword = document.getElementById('new-password').value.trim();
            const confirmPassword = document.getElementById('confirm-password').value.trim();

            var isValid = true;

            if (!newPassword) {
                document.getElementById('new-password-error').textContent = 'New password is required.';
                isValid = false;
            } else if (newPassword.length < 8) {
                document.getElementById('new-password-error').textContent = "Password should be at least 8 characters.";
                isValid = false;
            } else if (!/[a-z]/.test(newPassword)) {
                document.getElementById('new-password-error').textContent = "Password should contain at least one lowercase letter.";
                isValid = false;
            } else if (!/[A-Z]/.test(newPassword)) {
                document.getElementById('new-password-error').textContent = "Password should contain at least one uppercase letter.";
                isValid = false;
            } else if (!/\d/.test(newPassword)) {
                document.getElementById('new-password-error').textContent = "Password should contain at least one digit.";
                isValid = false;
            } else if (!/\W/.test(newPassword)) {
                document.getElementById('new-password-error').textContent = "Password should contain at least one special character.";
                isValid = false;
            } else {
                document.getElementById("new-password-error").textContent = "";
            }

            if (!confirmPassword) {
                document.getElementById('confirm-password-error').textContent = 'Confirm password is required.';
                isValid = false;
            } else if (newPassword !== confirmPassword) {
                document.getElementById('confirm-password-error').textContent = 'Passwords do not match.';
                isValid = false;
            } else {
                document.getElementById("confirm-password-error").textContent = "";
            }

            return isValid;
        };

        //Send newPassword to backend
        document.getElementById('reset-password-btn').addEventListener('click', function () {

            if (validateForm()) {

                const newPassword = document.getElementById('new-password').value.trim();
                const userId = document.getElementById("userId").value;


                fetch('/reset-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ newPassword: newPassword, userId: userId }),
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Password reset successful');
                            // Show SweetAlert2
                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: 'Your password has been updated successfully!',
                                timer: 2000,
                                timerProgressBar: true,
                                showConfirmButton: false 
                }).then((result) => {
                    // Redirect to login page after alert is closed
                    window.location.href = '/login';
                });
            } else {
                console.error('Password reset failed');
            }
        })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        });

    </script>

    <%- include("../form_layouts/footer.ejs") %>