<%- include("../form_layouts/header.ejs") %>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img"
                            style="background-image: url(assets/images/air-jordan-1-low-se-shoes-ZbxSRp.jpeg);">
                        </div>
                        <div class="login-wrap p-3 p-md-5">


                            <div class="form-group mb-3">
                                <label class="label m-0" for="name">Enter OTP</label>
                                <input type="text" id="otp" name="otp" class="form-control" placeholder="OTP">
                                <span id="otp-error" style="color:#BA0933;; font-size: 14px;" class="error"></span>
                            </div>

                            <p id="message" style="color:#BA0933;; text-align: center;">

                            </p>

                            <div style="font-size: 14px;" class="my-3">
                                <span>Haven't received the OTP?</span>
                                <span id="timer"></span>
                                <span style="display:none; cursor: pointer;" id="resend-OTP" class="text-info">Resend OTP</span>
                            </div>

                            <div class="form-group">
                                <button type="button" id="verify-btn"
                                    class="form-control btn btn-primary rounded submit px-3">Verify</button>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>


      

        document.addEventListener("DOMContentLoaded", function () {
            startTimer(20, document.getElementById("timer"));
            document.getElementById("verify-btn").addEventListener("click", function (e) {
                e.preventDefault();
                if (validateForm()) {
                    verifyOTP();
                }
            });

            document.getElementById("resend-OTP").addEventListener("click", function () {
                resendOTP();
            });
        });

        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            var interval = setInterval(function () {
                // minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                // minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                // display.textContent = minutes + ":" + seconds;
                display.textContent = "Resend in " + seconds + "s";

                if (--timer < 0) {
                    clearInterval(interval);
                    display.textContent = '';
                    document.getElementById("resend-OTP").style.display = "block";
                }
            }, 1000);
        }


        function verifyOTP() {
            const otp = document.getElementById("otp").value.trim();
            fetch('/verify-otp', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ otp }),
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(data => {
                        document.getElementById("otp-error").textContent = data.message;
                        throw new Error(data.message);
                    });
                }
                return response.json();
            })
            .then(data => {
                const Toast = Swal.mixin({
                        toast: true,
                        position: "top",
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer);
                            toast.addEventListener('mouseleave', Swal.resumeTimer);
                        }
                    });

                    Toast.fire({
                        icon: "success",
                        title: 'Registration successful!'
                    }).then(() => {
                        window.location.href = "/login";
                    });

            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
   

        function resendOTP() {
            document.getElementById("resend-OTP").style.display = "none";
            startTimer(20, document.getElementById("timer"));

            fetch('/resend-otp', {
                method: 'POST',
            })
                .then(response => response.json())
                .then(data => {
                    console.log("otp sended successfully")
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }


        function validateForm() {
            var otp = document.getElementById("otp").value.trim();
            var numericRegex = /^[0-9]+$/;
            var otpRegex = /^[0-9]{4}$/;

            var isValid = true;

            if (otp === "") {
                document.getElementById("otp-error").textContent = "OTP is required.";
                isValid = false;
            } else if (!numericRegex.test(otp)) {
                document.getElementById("otp-error").textContent = "OTP must be a number.";
                isValid = false;
            } else if (otp.length !== 4) {
                document.getElementById("otp-error").textContent = "OTP must be 4 digits.";
                isValid = false;
            } else {
                document.getElementById("otp-error").textContent = "";
            }

            return isValid;
        }

    </script>


    <%- include("../form_layouts/footer.ejs") %>