<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StepEx Admin</title>

    <link rel="stylesheet" href="/admin_assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/admin_assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/admin_assets/css/style.css">
    <link rel="stylesheet" href="/admin_assets/images/favicon.ico">
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
          // Get the current URL
          var currentUrl = window.location.pathname;
        
          // Loop through each nav-link and check if its href matches the current URL
          $(".nav-link").each(function() {
            var href = $(this).attr('href');
            if (href === currentUrl) {
              // If the href matches the current URL, add the active class to its parent nav-item
              $(this).closest(".nav-item").addClass("active");
              // If the nav-link has a parent collapse, show it
              $(this).parents(".collapse").addClass("show");
            }
          });
        });
        </script>
         -->

</head>

<body>
  